@forward "colors";
@use "sass:map";
@use "colors" as *;

$breakpoints: (
    s  : 576px,
    m  : 768px,
    l  : 992px,
    xl : 1200px
);

@mixin color($name, $property: color) {                                                                
    @if map.has-key($colors, $name) {    
        $value: map.get($colors, $name); 
        #{$property}: $value;            
    }
    @else {
        @warn "Color '#{$name}' not found in the $colors map."; 
    }
}

@mixin mq($value) {                                                           
    @if map.has-key($breakpoints, $value) {   
        $size: map.get($breakpoints, $value);  
        @media (min-width: $size) {           
            @content;                         
        }
    }
    @else { 
        @warn "unknown breakpoint '#{$breakpoints}'";
    }
}
