@use"../base" as *;
@use"../utilities" as *;

.scion-scheme {
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat; 
    
}

.scion-scheme-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px 15px;
}

.scion-scheme-content {
    height: 100%;
    max-width: 600px;
    margin-top: 0px;

    @include mq(l){
            max-width: 900px;
        }

    h1 {
        margin-top: 0px;
        padding: 35px 0px 20px;
        font-size: 1.4rem;
        text-align: center;
        text-shadow: 1px 1px 2px black;
        @include color(subtle-orange);
        @include mq(l){
            font-size: 1.8rem;
        }
    }

    p {
        font-size: 0.8rem;
        margin: 0px 0;
        text-align: start;
        text-shadow: 1px 1px 2px black;
        @include color(almost-white);
    }

    ul {
        margin-top: 0px;
        font-size: 0.8rem;
        text-align: start;
        text-shadow: 1px 1px 2px black;
        @include color(almost-white);
    }
}

.scion-scheme-container {
    display: flex;
    justify-content: center;
}

.scion-scheme-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

